/* ~~style common to all the pages~~ */

body {
  margin: 0;
}

h1{
  font-family: "Goudy Old Style",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 2px black;
  color:#ffffff;
}

/* header*/
.header-mypage {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto;
  grid-auto-rows: minmax(100px, auto);
  background-color:  #004053;
  color: #fff;
  font-family: 'EB Garamond', sans-serif;
  max-height: 100px;
}

#stickyNavbar{
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header-mypage > div{
  padding: 10px;
  align-self: center;
  justify-items: center;
}

#header-logo{
  height: 80px;
  padding-left: 10px;
}

#navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar-menu > li {
  float: left;
}

#navbar-menu > li a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  transition: transform .3s;
}

#navbar-menu > li a:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.5);
}

.button-login{
  float: right;
  border-style: outset;
  border-radius: 10px;
  box-shadow: 2px 2px #999;
  cursor: pointer;
  color: #fff;
  background-color:  #004053;
  font-size: 16px;
  padding: 10px 30px;
}

.button-login:hover{
  background-color:  #003342;
  color: white;
  cursor: pointer;
}

.button-login:active{
  box-shadow: 3px 3px #666;
  transform: translateY(4px);
}

.legend-login{
  color: white;
  font-size: 25px;
  text-shadow: -3px -3px 2px black;
}

.container-form{
  z-index: 1;
}

.header-img{
  background-size: cover;
  background-size: 100% 100%;
  height: 400px;
  width: 600px;
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

/* main */
.main-mypage {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(600px, auto);
  justify-items: center;
  background-color: #F1EBE4;
  font-family: "Goudy Old Style",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-mypage > div{
padding: 1em;
}

fieldset {
  border-radius: 10px;
}
/* footer */
.footer {
  background-color: #004053;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer .footer__contacts li {
  display: inline;
  list-style-type: none;
  margin: -5px 14px 0;
  content: '|';
}
/* ~~Style specific to the different PAGES~~ */

/* style specific of HOME page */
#home-mypage {
  background-size: 100% 100%;
  color: black;
  text-align: center;
}

#indexLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 60%;
}

#carouselExampleCaptions{
  padding: 20px;
}

#show-login{
  display: none;
  background-color: #004053;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-image: initial;
}

.button-div{
  padding-right: 10px;
}

/* style specific of WEDDING page */
#myServicesForm{
  width: 200px;
  float: left;
}

#myServicesForm fieldset{
  padding: 15px;
  border-radius: 10px;
  background-color: #004053;
  color: #ECB40C;
}

/* hidden cont form */
p.show-detail1, p.show-detail2, p.show-detail3, p.show-detail4, p.show-detail5{
  display: none;
}

/*  style of contact us page */
* {
  box-sizing: border-box;
}

/* Style inputs */

input[type="text"], input[type="password"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
  cursor: pointer;
}


/* Style the container/contact section */
.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*venues css*/
.venueRows {
  width:100%;
  background-color: #fff;
  background-color: rgba(255,255,255,0);
  text-align: left;
}

.venues {
  display: inline-block;
  background-color: #004053;
  color: #e9e9e9;

  font-size: large;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}


.venueImages{
  max-width: 50%;
  float: left;

}

.venueTitle{
  background-color: #ECB40C;
  text-align: center;
  color: #004053;
  font-family: "Goudy Old Style",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-size: x-large;
}

.venueTitle:hover{
  cursor: pointer;
}

.venueDescription{
	  float: left;
}

/*wedding extras CSS*/

.extras{
  display: inline-block;
  background-color: #fff;
  background-color: rgba(255,255,255,0);
  color: #e9e9e9;
  height: fit-content;
  width: 90%;
  margin: 15px;
}

.extrasDiv{
  float:left;
  width:100%;
  height: fit-content;
  background-color:#004053;
  margin: 15px;
  border-radius: 10px;
  border: ridge 2px white;
  font-size: large;
}

.extraImages{
  height:250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
  float: left;
  max-width: 100%;
  max-height: 100%;
}

/* style specific to book page */

.bookingForm{
  color: white;
  margin: 40px 60px 40px 20px;
  padding: 30px;
}

#guestInput{
  width: 50px;
}


